version: '3.8'

services:
  # MongoDB database
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - ./database:/docker-entrypoint-initdb.d
    networks:
      - app-network

  # Flask AI Service
  aiservice:
    image: flask-image
    build:
      context: ./aiservice
      dockerfile: Dockerfile
    container_name: aiservice
    restart: unless-stopped
    ports:
      - "5001:5000"
    environment:
      - FLASK_ENV=production
    env_file:
      - ./aiservice/.env
    networks:
      - app-network

  # SpringBoot Backend
  backend:
    image: backend-image
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://host.docker.internal:27017/room_data_lab42  # connect to host MongoDB
      - AI_SERVICE_URL=http://aiservice:5000
    depends_on:
      - mongodb
      - aiservice
    networks:
      - app-network

  # React Frontend
  frontend:
    image: frontend-image
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mongodb_data:

networks:
  app-network:

    driver: bridge
